.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.display-flex{
    display: flex;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
